@font-face {
    font-family: 'PokeLetter' ;
    src: url(/fonte/Pokemon\ Hollow.ttf) format('truetype');
    font-style: normal;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
    background-image: url(/imagens/tela\ de\ fundo.jpg);
    background-position: center top;
    background-repeat: repeat-y;
    background-size: 100%;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

h1 {
    font-family: 'PokeLetter', sans-serif;
    font-size: 4rem;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}